.page_wrapper{
    padding: 1.5em;
}

#movieDetail {
    padding: 1.5rem;
    border: 1px solid darkgray;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-width: 450px;
}

header{
   margin-bottom: 1em;
}

#movie-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}